
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tweetly_MVC</title>


    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tweetly_MVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="menu" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TakipciList" asp-route-username="@Hesap.Instance.OturumBilgileri.Username" asp-route-liste="following">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="menu" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ListGetir" asp-route-listName="following">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <h4 id="gecensure">Geçen süre:</h4> @Math.Round(Convert.ToDecimal(ViewBag.gecensure), 0) dakika
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid" style="margin: 0px">
        <div class="row">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="profile">
                                <div class="image">
                                    <div class="circle-1"></div>
                                    <div class="circle-2"></div>
                                    <img src="@Hesap.Instance.OturumBilgileri.PhotoURL" width="70" height="70" alt="@Hesap.Instance.OturumBilgileri.Username">
                                </div>

                                <div class="name">@Hesap.Instance.OturumBilgileri.Name</div>
                                <div class="job">   <a id="username" href="https://twitter.com/@Hesap.Instance.OturumBilgileri.Username" target="_blank"><i class="bi bi-link-45deg">@Hesap.Instance.OturumBilgileri.Username</i></a></div>




                            </div>
                        </div>
                        <div class="col" style=" display: flex; justify-content: center; align-items: center;">
                            <div class="stats">
                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.Followers</span>
                                    <span class="parameter">Takipçi Sayısı</span>
                                </div>
                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.Following</span>
                                    <span class="parameter">Takip Edilen</span>
                                </div>
                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.LastLikesDate</span>
                                    <span class="parameter">Son Beğeni</span>
                                </div>

                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.LastTweetsDate</span>
                                    <span class="parameter">Son Tweet</span>
                                </div>


                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.BegeniSikligi</span>
                                    <span class="parameter">Beğeni Sıklığı</span>
                                </div>
                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.TweetSikligi</span>
                                    <span class="parameter">Tweet Sıklığı<br /></span>
                                </div>

                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.Date</span>
                                    <span class="parameter">Üyelik Süresi</span>
                                </div>

                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.TweetCount</span>
                                    <span class="parameter">Tweet Sayısı</span>
                                </div>

                                <div class="box">
                                    <span class="value">@Hesap.Instance.OturumBilgileri.LikeCount</span>
                                    <span class="parameter">Beğeni Sayısı</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container" id="row">
                            <div class="progress" id="progressbox" style="display: none; height: 30px; margin-bottom: 15px;">
                                <div class="progress-bar progress-bar-striped  progress-bar-animated active" role="progressbar" id="progress" style="width: 40%; height: 30px; ">
                                    40%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            @RenderBody()
        </div>
    </div>
    <nav class="menu">
        <a href="#" class="menu__item" data-tooltip="Dashboard">
            <i class="bi bi-house-door-fill"></i>
        </a>
        <a href="@Url.ActionLink("TakipciList","Home")" class="menu__item menu__item--active" id="takipciler" data-tooltip="Takipçiler">
            <i class="bi bi-people-fill"></i>
        </a>
        <a href="@Url.ActionLink("ListGetir","Home")" class="menu__item menu__item--active" id="listGetir" data-tooltip="Liste getir">
            <i class="bi bi-person-lines-fill"></i>
        </a>
        <a href="#" class="menu__item" data-tooltip="Geri takip etmeyenler">
            <i class="bi bi-envelope-fill"></i>
        </a>
        <a href="#" class="menu__item" data-tooltip="Mesajları sil">
            <i class="bi bi-person-dash-fill"></i>
        </a>
        <a href="#" class="menu__item" data-tooltip="Settings">
            <i class="bi bi-gear-fill"></i>
        </a>

        <div class="dropdown" style="width:100%; height: 50px;">
            <button style="height:100%; margin:auto;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-tooltip="Settings">
                <i class="bi bi-gear-fill"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width:250px;">
                <li>
                    <div class="input-group">
                        <span class="input-group-text">Kullanıcı:</span>
                        <input type="text" aria-label="Kullanıcı" class="form-control">
                    </div>
                </li>
                <li><a class="dropdown-item" href="#">Takipçileri</a></li>
                <li><a class="dropdown-item" href="#">Takip ettikleri</a></li>
                <li><a class="dropdown-item" href="#">Ortak takipçiler</a></li>
                <li><a class="dropdown-item" href="#">Beğenenler</a></li>
            </ul>
        </div>
    </nav>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
