@using Tweetly_MVC.Tweetly;
@model List<User>

@{
    int countKadin = 0, countErkek = 0, countUnisex = 0, countBelirsiz = 0;
    double toplamOrtTweet = 0;
    double toplamOrtBegeni = 0;

    double toplamSonTweet = 0;
    double toplamSonBegeni = 0;
    double toplamKayitTarihi = 0;
    double genelTakipciKalitesi = 0;

    ViewData["Title"] = "Home Page";
}

<div class="col">

    <div class="table-wrapper">
        <table class="fl-table" style="font-size:12px; font-weight:600;">
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Fotoğraf</th>
                    <th>Cinsiyet</th>
                    <th>Bio</th>
                    @if (!ViewBag.sutunGizle)
                    {
                        <th>Konum</th>
                        <th>Takipçi</th>
                        <th>Takip<br />Edilen</th>
                        <th>Kayıt<br />Tarihi</th>
                        <th>Tweet</th>
                        <th>Son<br />Tweet</th>
                        <th>Ortalama<br />Tweet</th>
                        <th>Beğeni</th>
                        <th>Son<br />Beğeni</th>
                        <th>Ortalama<br />Beğeni</th>
                    }
                    <th>Takipçi<br />Durumu</th>
                    <th>Takip<br />Durumu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Cinsiyet.StartsWith("E"))
                        countErkek++;
                    if (item.Cinsiyet.StartsWith("K"))
                        countKadin++;
                    if (item.Cinsiyet.StartsWith("U"))
                        countUnisex++;
                    if (item.Cinsiyet.StartsWith("B"))
                        countBelirsiz++;
                    toplamOrtTweet += Convert.ToDouble(item.TweetSikligi);
                    toplamOrtBegeni += Convert.ToDouble(item.BegeniSikligi);
                    toplamSonBegeni += item.LastLikesDate;
                    toplamSonTweet += item.LastTweetsDate;

                    <tr>

                        <td>@item.Count</td>
                        <td>

                            <p class="product">
                                <a class="images" href="@item.PhotoURL.Replace("200x200", "400x400")" target="_blank">
                                    @if (item.IsPrivate)
                                    {
                                        <img style="position:absolute; left: -10px" src="https://cdn0.iconfinder.com/data/icons/security-8/500/lock2-32.png">
                                    }
                                    <img class="photo" src="@item.PhotoURL" alt="" style="border-radius: 50%; width: 200px; height: 200px;"
                                         onerror="console.log('Profil Fotoğrafını Değiştirmiş: ' + @item.Username)" />
                                    <img class="gizli" src="#" alt="" />
                                </a>
                            </p>
                            <div class="metinkaydir" style="display:block; font-weight: 600;">@item.Name</div>
                            <a id="username" href="https://twitter.com/@item.Username" target="_blank"><i class="bi bi-link-45deg">@item.Username</i></a>
                        </td>
                        <td>
                            @{ string classIsım = "";
                                classIsım = item.Cinsiyet.StartsWith('K') ? "female" :
                                            item.Cinsiyet.StartsWith('E') ? "male" :
                                            item.Cinsiyet.StartsWith('U') ? "ambiguous" : "trans";

                            }
                            <i style="display: block; font-size: 17pt;" class="bi bi-gender-@classIsım"></i>
                            @item.Cinsiyet
                        </td>
                        <td><div class="metinkaydir" style="width: 150px;">@item.Bio</div></td>
                        @if (!ViewBag.sutunGizle)
                        {
                            <td>@item.Location</td>
                            <td>@item.Followers</td>
                            <td>@item.Following</td>
                            <td>@item.Date</td>
                            <td>@item.TweetCount</td>
                            <td>@item.LastTweetsDate.ToString().Replace(",", ".")</td>
                            <td>@item.TweetSikligi</td>
                            <td>@item.LikeCount</td>
                            <td>@item.LastLikesDate.ToString().Replace(",", ".")</td>
                            <td>@item.BegeniSikligi</td>
                        }
                        <td><div class="metinkaydir" style="width:60px">@item.FollowersStatus</div></td>
                        <td>
                            @{ string id = item.Username + "Unf";}
                            <form method="post" asp-controller="Home" asp-action="TakipCik" data-ajax="true" data-ajax-method="post"
                                  data-ajax-update="#@id" data-ajax-mode="replace">
                                <button id="@id" name="Usernames" value="@item.Username" class="btn btn-primary metinkaydir userbutons">@item.FollowStatus</button>
                            </form>
                            <button asp-action="Engelle" asp-controller="Home" type="button" name="Usernames" value="@item.Username" class="btn btn-danger userbutons">Engelle</button>
                            <button asp-action="SessizeAl" asp-controller="Home" type="button" name="Usernames" value="@item.Username" class="btn btn-warning userbutons">Sessize Al</button>
                            @*<form action="@Url.Action("TakipCik")" method="post">
                                    <button name="Usernames" value="@item.Username" class="btn btn-primary metinkaydir userbutons">@item.FollowStatus</button>
                                </form>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="dataSwit" style="display:none">
        @{
            toplamOrtTweet /= Model.Count;
            toplamOrtBegeni /= Model.Count;
            toplamSonBegeni /= Model.Count * -1;
            toplamSonTweet /= Model.Count * -1;
        }
        <input id="kadin" value="@countKadin" />
        <input id="erkek" value="@countErkek" />
        <input id="unisex" value="@countUnisex" />
        <input id="belirsiz" value="@countBelirsiz" />
        <input id="toplamOrtTweet" value="@toplamOrtTweet.ToString().Replace(",", ".")" />
        <input id="toplamOrtBegeni" value="@toplamOrtBegeni.ToString().Replace(",", ".")" />
        <input id="toplamSonTweet" value="@toplamSonTweet.ToString().Replace(",", ".")" />
        <input id="toplamSonBegeni" value="@toplamSonBegeni.ToString().Replace(",", ".")" />
        <input id="toplamKayitTarihi" value="@toplamKayitTarihi.ToString().Replace(",", ".")" />
        <input id="genelTakipciKalitesi" value="@genelTakipciKalitesi.ToString().Replace(",", ".")" />
    </div>
</div>